# Stock Time Series Slicing Example

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('StockTimeSeries.csv')
df

      Date       Stock  Predict This
0   20-Dec  145.993305    133.715583
1   21-Dec  142.333029    130.600238
2   22-Dec  125.629132    133.962360
3   23-Dec  133.715583    139.727917
4   24-Dec  130.600238    137.509795
5   25-Dec  133.962360    135.177490
6   26-Dec  139.727917    125.959672
7   27-Dec  137.509795    135.210636
8   28-Dec  135.177490    142.632448
9   29-Dec  125.959672           NaN
10  30-Dec  135.210636           NaN
11  31-Dec  142.632448           NaN